# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Каталог с скомпилированными бинарями
/bin/
/build/
/dist/

# enviroment

.env

# IDE и редакторы
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# файлы БД

/storage/
storage/*

# секреты

dena.pem
secrets.yaml